.appbar {
    height: 56px;

    background-color: var(--bg-nav);
    border-bottom: solid 1px var(--border);

    display: flex;
    align-items: center;
    
    padding: 0 16px;

    h1 {
        font-size: 18px;
        font-weight: 700;

        .appbarSlash {
            font-weight: 400;
            opacity: 0.4;

            margin: 0 6px;

            user-select: none;
        }

        .appbarName {
            font-weight: 500;
        }
    }
}

.pickerButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 36px;

    padding: 4px 10px;

    background-color: transparent;

    margin-left: 6px;

    border: none;
    border-radius: 99px;

    cursor: pointer;

    color: inherit;

    svg {
        opacity: 0.4;
        margin-left: 4px;
        color: inherit;
    }

    &:hover {
        background-color: var(--bg-active);

        svg {
            opacity: 1;
        }
    }
}
