@use '../layout.module.scss';

.root {
    display: flex;
    gap: 24px;

    aside {
        flex: 2;
    }

    main {
        flex: 3;

        max-width: 700px;

        // background-color: #fee;
    }

    @media screen and (min-width: 1000px) and (max-width: 1400px) {
        aside:first-child {
            flex: 1;
            max-width: 400px;
        }

        aside:last-child {
            display: none;
        }

        main {
            margin-right: 64px;
        }
    }

    @media screen and (max-width: 1000px) {
        & {
            justify-content: center;
        }

        aside:first-child {
            position: fixed;
            z-index: 20;

            top: 0;
            left: 0;
            right: 80px;
            bottom: 0;

            transform: translateX(calc(-100% - 80px));

            background-color: var(--bg-body);
            border-right: solid 1px var(--border);

            transition: 275ms ease;
            transition-property: transform;

            nav {
                width: 100%;
            }
        }

        &.menuOpen aside:first-child {
            transform: none;

            + .scrim {
                opacity: 1;
                pointer-events: initial;
            }
        }

        .scrim {
            position: fixed;
            inset: 0;
            z-index: 19;

            background-color: rgba(0 0 0 / 50%);

            opacity: 0;
            pointer-events: none;
            
            transition: 275ms ease;
            transition-property: opacity;
        }

        aside:last-child {
            display: none;
        }

        main {
            padding: 30px;
            max-width: min(1000px, 100%);

            article {
                width: 100%;
                max-width: 100%;

                > h1:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

.pageList {
    padding: 16px;

    width: 320px;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    gap: 2px;

    position: sticky;
    top: 72px;

    hr {
        margin: 6px 36px 6px 0;

        border: none;
        border-top: solid 1px var(--bg-active);
    }

    ul {
        border-left: solid 1px var(--border);
    }

    li {
        display: grid;
        grid-template-columns: 1fr 32px;
        grid-template-rows: repeat(2, auto);
        grid-gap: 2px;

        &.expanded > button svg {
            transform: rotate(180deg);
        }

        ul {
            grid-area: 2 / 1 / 2 / 3;
            padding-left: 6px;
            margin-left: 16px;
            margin-bottom: 2px;
        }

        button,
        a {
            display: flex;
            align-items: center;

            height: 32px;

            border: none;
            border-radius: 6px;

            font-size: 14px;
            font-weight: 500;

            background-color: transparent;
            color: var(--fg-secondary);

            cursor: pointer;

            &:hover {
                background-color: var(--bg-active);
            }
        }

        button {
            justify-content: center;
            grid-area: 1 / 2;

            width: 32px;

            svg {
                transition: transform 175ms ease;
            }
        }

        a {
            padding-left: 12px;

            text-decoration: none;
        }

        &.selected > a {
            background-color: var(--bg-brand-active);
            color: var(--fg-brand);
        }

        // &:not(:has(button)) {
        //     display: block;
        // }

        &::marker {
            content: '';
        }
    }
}
